server {
  server_name _;
  listen 80;
  location / {
    add_header Content-Type text/html;
    return 200 'This is a service';
  }
  location /health {
    add_header Content-Type text/html;
    return 200 'Ok';
  }
}