user {{ nginx_user }};
worker_processes auto;
error_log {{ nginx_log_path }}/error.log;
pid {{ nginx_pidfile }};

# Load dynamic modules. See /usr/share/doc/nginx/README.dynamic.
include /usr/share/nginx/modules/*.conf;

events {
  worker_connections {{ nginx_worker_connections }};
}

http {
  server_tokens      {{ nginx_server_tokens }};

  include            /etc/nginx/mime.types;
  default_type       application/octet-stream;

  log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                    '$status "$request_time" $body_bytes_sent "$http_referer" '
                    '"$http_user_agent" "$http_x_forwarded_for"';

  access_log  {{ nginx_log_path }}/access.log  main;
  sendfile            on;
  tcp_nopush          on;
  tcp_nodelay         on;
  keepalive_timeout   {{ nginx_keepalive_timeout }};
  types_hash_max_size 4096;

  {% if nginx_client_max_body_size is defined %}client_max_body_size    {{nginx_client_max_body_size}};{% endif %}

  {% if nginx_client_body_buffer_size is defined %}client_body_buffer_size {{nginx_client_body_buffer_size}};{% endif %}

  # Load modular configuration files from the /etc/nginx/conf.d directory.
  # See http://nginx.org/en/docs/ngx_core_module.html#include
  # for more information.
  include /etc/nginx/conf.d/*.conf;
}